* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eef9fd;
}

header{
    background-color: #4e8aa0;
    text-align: center;
    vertical-align: center;
    padding-top: 30px;
    height: 10vh;
}

footer{
    text-align: center;
    background: #dcf6ff;
    padding: 20px;
}

img{
    box-shadow: 2px 5px 6px 0px rgb(0 0 0 / 50%);
    padding: 10px;
    border: solid 2px black;
}

nav.menu {
    height:100px;
    width: 100%;
}

nav.menu > ul{
    height: 100%;
    align-items: baseline;
    justify-content: left;
}

nav.menu li {
    width: 100%;
    list-style: none;
} 

.menu ul li > a {
    text-decoration: none;
    color: #000000;
} 

.menu > ul > li{
    padding: 10px;
    border: solid 1px #6ba2b6;
    background: #4e8aa0;
} 

.menu > ul > li:hover {
    background: #6ba2b6;
    transition: 1.0s all ease;
} 

.menu > ul > li > ul > li{
    display: none;
    padding-top: 10px;
    padding-bottom: 8px;
} 

.menu ul li:hover > ul li{
    display: block;
}

.option-active{
    background: #6ba2b6 !important;
}
.container{
    display: flex;
}

.container-content {
    width: 100%;
    padding: 0 4vw 0 4vw;
}

.container-content.home{
    width: 70vw;
}

.container-content.rigth{
    width: 30vw;
}

.aling-center{
    text-align: center;
}
.text-content{
    text-align: justify;
}

.width-main{
    min-height: 25.5vw;
}